.container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  height: 3rem;
}

h4 {
  text-align: center;
}

.container button {
  font: inherit;
  color: #5a1a01;
  cursor: pointer;
  background-color: transparent;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
}

.container button:hover,
.container button:active {
  background-color: #ffe6dc;
}

.container .submit {
  border: 1px solid #5a1a01;
  background-color: #5a1a01;
  color: white;
}

.container .submit:hover,
.container .submit:active {
  background-color: #7a2706;
}
